$eptWidth: 150px;
$eptHeight: 50px;

$green: #a8e04f;
$red: #f55f07;

svg {
	background-color: #EEE;
	text {
		font-family: arial, tahoma, verdana;
		font-size: 14px;
	}
}

.draggable {
	cursor: pointer;
 	
 	&.drag {
 		cursor: move;

	 	.ept {
	 		transform: scale(1.01);
	 	}
 	}
}

.ept {
	stroke-width: 0;

	.container {
		width: $eptWidth;
		height: $eptHeight;
		fill: #FFF;
		stroke: #444;
		stroke-width: 1;
	}

	text {
		&.title {
			transform: translate(10px, 28px);
			width: 100px;
			clip-path: inset(0 calc(100% - #{$eptWidth - 20px}) 0 0);
		}

		&.in, &.out {
			font-size: 12px;
		}

		&.in {
			transform: translate($eptWidth / 2 + 10px, -10px);
		}

		&.out {
			transform: translate($eptWidth / 2 + 10px, $eptHeight + 15);
		}
	}
	circle {
		r: 5px;
		cx: $eptWidth / 2;
		stroke-width: 1;
		stroke: #000;

		&.in {
			cy: 0;
			fill: $green;
		}

		&.out {
			cy: $eptHeight;
			fill: $red;
		}
	}
}
