@eptWidth: 200px;
@eptHeight: 40px;
@connectionPointRadius: 8px;

@green: #a8e04f;
@seagreen: #458e99;
@red: #f55f07;
@orange: #e0773f;
@blue: #0f7cbb;
@yellow: #b9c84f;
@white: #FFF;
@magenta: #9759b5;

@shadow-border: #EEE;
@shadow-stroke: rgba(0, 0, 0, 0.2);

@ept-normal: #68707b;
@ept-hover: #4d5258;
@ept-dragged: rgba(200, 200, 200, 0.8);

@linker: rgba(255, 255, 255, 0.5);
@linker-dragged: #68707b;

@cp-label: #828ea2;
@cp-in: #5cb459;
@cp-out: #4590e4;

@link: #E3E3E3;
@link-hover: @red;

@parameter-enum-border: #CCC;